<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<h1>Meatearite aplikashon</h1>
<p id="barf"></p>
<ul>
    <li> Kate</li>
    <li>Kyle</li>
    <li>Emily</li>
    <li>Jeanine</li>
    <li>Erin</li>
    <li>Brian</li>
    <li>Rob</li>
    <li>Lee</li>

 </ul>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="whatever.js"></script>
</html>
